.section.aboutYoga
  .container
    
    .row
      .col-md-8
        
        .h1 Йога Айенгара
        
        .aboutBody__introtext
          p Задача организации, в особенности же укрепление и развитие структуры в значительной степени обуславливает создание модели развития. Равным образом дальнейшее развитие различных форм деятельности играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! сложившаяся структура организации влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. Повседневная практика показывает, что новая модель организационной деятельности в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям.
          
          #aboutBody__description.collapse
            .aboutBody__description
              p Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что сложившаяся структура организации требуют определения и уточнения новых предложений. Таким образом консультация с широким активом способствует подготовки и реализации систем массового участия.
              p Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что сложившаяся структура организации требуют определения и уточнения новых предложений. Таким образом консультация с широким активом способствует подготовки и реализации систем массового участия.
          
          .text-center
            a.btn.btn--border.btn--spoiler.visible-xs-inline-block(href="#aboutBody__description" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="aboutBody__description") Подробнее
        
        
