<!-- Footer -->
footer.footer
  .footer__top.section
    .container
      
      .row
        .col-md-9.col-sm-6
          
          nav
            ul
              li
                a(href="#") 
                  i.zmdi.zmdi-chevron-down
                  i.zmdi.zmdi-chevron-up
                  | Новости
                ul
                  li: a(href="#") Анонсы
                  li: a(href="#") Акции
                  li: a(href="#") События
              li
                a(href="#") 
                  i.zmdi.zmdi-chevron-down
                  i.zmdi.zmdi-chevron-up
                  | Преподаватели
                ul
                  li: a(href="#") Реестр преподавателей
                  li: a(href="#") Как стать преподавателем
                  li: a(href="#") Список курсов
              li
                a(href="#") 
                  i.zmdi.zmdi-chevron-down
                  i.zmdi.zmdi-chevron-up
                  | Информация
                ul
                  li: a(href="#") Реестр преподавателей
                  li: a(href="#") Как стать преподавателем
                  li: a(href="#") Список курсов
              li
                a(href="#") 
                  i.zmdi.zmdi-chevron-down
                  i.zmdi.zmdi-chevron-up
                  | Центры
                ul
                  li: a(href="#") Киев
                  li: a(href="#") Днепропетровск
                  li: a(href="#") Львов
          
        .col-md-3.col-sm-6
          .footer__contacts
            p Контакты
            .footer__contacts__block
              i.zmdi.zmdi-phone
              span +38 (057) 123 45 69
              
            .footer__contacts__block
              i.zmdi.zmdi-pin-drop
              span Харьков, пер. Костюринский 2 
  
  .footer__bottom
    .container
      
      .row
        .col-sm-6.col-sm-push-6.col-xs-12
          .social.footer__social
            a(href="#")
              i.zmdi.zmdi-facebook
            a(href="#")
              i.zmdi.zmdi-vk
            a(href="#")
              i.zmdi.zmdi-twitter
            a(href="#")
              i.zmdi.zmdi-google-plus
                
        .col-sm-6.col-sm-pull-6.col-xs-12
          .copyright &copy; K. B. S. Iyengar Ukraine
            
