<!-- Footer js -->
script(src='./js/libs/owl.carousel/owl.carousel.min.js')
script(src='./js/libs/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js')
script(src='./js/libs/bootstrap/collapse.js')
script(src='./js/libs/bootstrap/transition.js')
script(src='./js/libs/slideout.js/dist/slideout.js')
script(src='./js/libs/jQueryFormStyler-master/jquery.formstyler.min.js')
script(src='./js/libs/tooltipster/js/jquery.tooltipster.min.js')
