.section.news
  .container
  
    .news__row
      .row
        .col-lg-3.col-md-2.col-sm-2.col-xs-3
          .news__date
            strong 21
            span февраля 2016 
            hr.separator
            time 10:00
        .col-lg-8.col-md-10.col-sm-10.col-xs-9
          .row.news__row__top
            .col-md-5.col-sm-5
              a(href="#")
                img(src="./tmp/news/news-1.jpg", alt="").news__img.img-responsive
            .col-md-7.col-sm-7.col-xs-12
              .news__header.hidden-xs
                .h1 Новости о йоге в Харькове за февраль 2016 года 
                small
                  em Центр YOGA &amp; SPA Махараджа, пер. Костюринский, 2
      
      .row
        .col-lg-3.col-md-2.col-sm-2.hidden-xs
        .col-lg-8.col-md-10.col-sm-10.col-xs-12
          .news__header.news__header--xs.visible-xs-block
            .h1 Новости о йоге в Харькове за февраль 2016 года 
            small
              em Центр YOGA &amp; SPA Махараджа, пер. Костюринский, 2
              
          p Повседневная практика показывает, что консультация с широким активом в значительной степени обуславливает создание направлений прогрессивного развития. Задача организации, в особенности же начало повседневной работы по формированию позиции позволяет оценить значение новых предложений.
          p Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции позволяет оценить значение модели развития. 
          
          a(href="#").btn.btn--border.btn--news Подробнее
          
    .news__row
      .row
        .col-lg-3.col-md-2.col-sm-2.col-xs-3
          .news__date
            strong 15
            span сентября 2016 
            hr.separator
            time 10:00
        .col-lg-8.col-md-10.col-sm-10.col-xs-9
          .row.news__row__top
            .col-md-5.col-sm-5
              a(href="#")
                img(src="./tmp/news/news-2.jpg", alt="").news__img.img-responsive
            .col-md-7.col-sm-7.col-xs-12
              .news__header.hidden-xs
                .h1 Новости о йоге в Харькове за февраль 2016 года 
                small
                  em Центр YOGA &amp; SPA Махараджа, пер. Костюринский, 2
      
      .row
        .col-lg-3.col-md-2.col-sm-2.hidden-xs
        .col-lg-8.col-md-10.col-sm-10.col-xs-12
          .news__header.news__header--xs.visible-xs-block
            .h1 Новости о йоге в Харькове за февраль 2016 года 
            small
              em Центр YOGA &amp; SPA Махараджа, пер. Костюринский, 2
              
          p Повседневная практика показывает, что консультация с широким активом в значительной степени обуславливает создание направлений прогрессивного развития. Задача организации, в особенности же начало повседневной работы по формированию позиции позволяет оценить значение новых предложений.
          
          a(href="#").btn.btn--border.btn--news Подробнее
          
    .news__row
      .row
        .col-lg-3.col-md-2.col-sm-2.col-xs-3
          .news__date
            strong 01
            span мая 2016 
            hr.separator
            time 10:00
        .col-lg-8.col-md-10.col-sm-10.col-xs-9
          .row.news__row__top
            .col-md-5.col-sm-5
              a(href="#")
                img(src="./tmp/news/news-3.jpg", alt="").news__img.img-responsive
            .col-md-7.col-sm-7.col-xs-12
              .news__header.hidden-xs
                .h1 Новости о йоге в Харькове за февраль 2016 года 
                small
                  em Центр YOGA &amp; SPA Махараджа, пер. Костюринский, 2
      
      .row
        .col-lg-3.col-md-2.col-sm-2.hidden-xs
        .col-lg-8.col-md-10.col-sm-10.col-xs-12
          .news__header.news__header--xs.visible-xs-block
            .h1 Новости о йоге в Харькове за февраль 2016 года 
            small
              em Центр YOGA &amp; SPA Махараджа, пер. Костюринский, 2
              
          p Повседневная практика показывает, что консультация с широким активом в значительной степени обуславливает создание направлений прогрессивного развития. Задача организации, в особенности же начало повседневной работы по формированию позиции позволяет оценить значение новых предложений.

          a(href="#").btn.btn--border.btn--news Подробнее
