.section.teachers
  .container
    
    h1 Преподаватели
    
    .row#teachers__row.teachers__row
      .col-md-2.col-sm-4.col-xs-12
        .teachers__block
          .img
            img.teachers--svg1(src="./tmp/teachers/yoga-pose-with-lotus-background.svg", alt="")

          p Как стать преподавателем
          
      .col-md-2.col-sm-4.col-xs-12
        .teachers__block
          .img
            img.teachers--svg2(src="./tmp/teachers/list-document-interface-symbol.svg", alt="")

          p Список 
            br
            | официальных 
            br
            | курсов
            
      .col-md-2.col-sm-4.col-xs-12
        .teachers__block
          .img
            img.teachers--svg3(src="./tmp/teachers/quality.svg", alt="")

          p Реест сертифицированных преподавателей
          
      .col-md-2.col-sm-4.col-xs-12
        .teachers__block
          .img
            img.teachers--svg4(src="./tmp/teachers/list.svg", alt="")

          p Расписание экзаменов
          
      .col-md-2.col-sm-4.col-xs-12
        .teachers__block
          .img
            img.teachers--svg5(src="./tmp/teachers/order.svg", alt="")

          p Порядок проведения экзаменов
          
      .col-md-2.col-sm-4.col-xs-12
        .teachers__block
          .img
            img.teachers--svg6(src="./tmp/teachers/buddhist-yoga-pose.svg", alt="")

          p Список асан 
            br 
            | и пранаям
