.section.yogaCenters
  .container
    
    .h1 Центры, преподающие Йогу Айенгара в Украине
    
    .yogaCenters
      .yogaCenters__body
        .yogaCenters__row
          .div
            a.yogaCenters__block(href="#")
              .img
                img(src="./tmp/yoga-centers/yoga-center-1.jpg", alt="").img-responsive
              .icon__round
                i.zmdi.zmdi-pin
              .text
                p Харьков, пер. Костюринский 2 Харьков, пер. Костюринский 2
          
          .div
            a.yogaCenters__block(href="#")
              .img
                img(src="./tmp/yoga-centers/yoga-center-2.jpg", alt="").img-responsive
              .icon__round
                i.zmdi.zmdi-pin
              .text
                p Днепропетровск, ул. Грушевского 23
              
          .div
            a.yogaCenters__block(href="#")
              .img
                img(src="./tmp/yoga-centers/yoga-center-3.jpg", alt="").img-responsive
              .icon__round
                i.zmdi.zmdi-pin
              .text
                p Киев, ул. Грушевского 23
