doctype

html(lang="ru")
  
  -var active = 'Новости' //активный пункт меню, список в header.jade
  -var pageTitle = 'Новость' + ' - B.K.S.Iyengar Ukraine' //title страницы для генерации верстки  
  -var navigation = { 'Главная': '#', 'Новости': '#', 'Преподаватели': '#', 'Информация': '#', 'Календарь': '#', 'Центры': '#', 'Контакты': '#' };

  head
    include ./_include/_head

  body
    
    <!-- Preloader -->
    .loader
      .loader__block
    
    nav#menu.navigation(role="navigation")
      .lang
        ul
          li.active: a(href="#") Рус
          li: a(href="#") Укр
          
      ul
        each val, key in navigation
          if active === key
            li.active
              a(href=val, title=key)= key
          else
            li
              a(href=val, title=key)= key
    
    #base.base
      include ./_include/_header
      
      .content
        
        <!-- News -->  
        .section
          .container
            
            .section__header
              h1 Новости о йоге в Харькове за февраль 2016 года
              
            .news__row
              .row
                .col-lg-2.col-md-2.col-sm-2.col-xs-3
                  .news__date
                    strong 21
                    span февраля 2016 
                    hr.separator
                    time 10:00
                .col-lg-10.col-md-10.col-sm-10.col-xs-9                  
                    img(src="./tmp/news/news-1.jpg", alt="").news__imd-document.img-responsive

                    .hidden-xs
                      em.news__em Центр YOGA &amp; SPA Махараджа, пер. Костюринский, 2
                      p Повседневная практика показывает, что консультация с широким активом в значительной степени обуславливает создание направлений прогрессивного развития. Задача организации, в особенности же начало повседневной работы по формированию позиции позволяет оценить значение новых предложений.
                      p Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции позволяет оценить значение модели развития. 
                    
              
              .row
                .col-lg-2.col-md-2.col-sm-2.hidden-xs
                .col-lg-10.col-md-10.col-sm-10.col-xs-12
                  .visible-xs
                    em.news__em Центр YOGA &amp; SPA Махараджа, пер. Костюринский, 2
                    p Повседневная практика показывает, что консультация с широким активом в значительной степени обуславливает создание направлений прогрессивного развития. Задача организации, в особенности же начало повседневной работы по формированию позиции позволяет оценить значение новых предложений.
                    p Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции позволяет оценить значение модели развития. 
                    
                  p Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации систем массового участия. 
                  p Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности играет важную роль в формировании форм развития. Идейные соображения высшего порядка, а также сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Таким образом консультация с широким активом влечет за собой процесс внедрения и модернизации форм развития. Значимость этих проблем настолько очевидна, что консультация с широким активом требуют от нас анализа новых предложений.
                  p Равным образом дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки форм развития. Задача организации, в особенности же сложившаяся структура организации представляет собой интересный эксперимент проверки форм развития. Равным образом консультация с широким активом в значительной степени обуславливает создание существенных финансовых и административных условий. Товарищи! укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Повседневная практика показывает, что укрепление и развитие структуры влечет за собой процесс внедрения и модернизации форм развития.
                  
                  .clear10
                    
                  time.time.time--gray 04.02.2016
                  
                  .clear30
                    
                  a(href="#").link.link--back
                    i.zmdi.zmdi-arrow-left
                    | Вернуться к новостям
      
      include ./_include/_footer
      //- div(style="height: 500px; background-color: #ccc")
      
      //[if gte IE 9]
        <script src='./js/libs/html5shiv/es5-shim.min.js'>
        <script src='./js/libs/html5shiv/html5shiv.min.js'>
        <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
        <script src='./js/libs/respond/respond.min.js'><![endif]

      script(src='./js/libs/jquery/jquery-2.1.4.min.js')
      script(src='./js/libs/jquery/jquery-migrate-1.2.1.min.js')
      script(src='./js/libs/modernizr/modernizr.js')
      script(src='./js/libs/plugins-scroll/plugins-scroll.js')
      include ./_include/_footer-js
      script(src='./js/common.js')

    #back-top
      i.zmdi.zmdi-long-arrow-up
